In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("titanic.csv")

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.isnull().mean()

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

In [6]:
df["Pclass"].unique()

array([3, 1, 2])

In [7]:
df["Pclass"].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [8]:
df.Fare.describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [9]:
binned = pd.cut(df["Fare"], bins = [0,7.910400,14.454200,31.000000,512.329200], labels = ["Q1","Q2","Q3","Q4"], include_lowest=True)

In [10]:
df["fare_band"] = binned

In [11]:
df.groupby("fare_band")["Fare"].min()

fare_band
Q1     0.0000
Q2     7.9250
Q3    14.4583
Q4    31.2750
Name: Fare, dtype: float64

In [12]:
df.groupby("fare_band")["Fare"].max()

fare_band
Q1      7.8958
Q2     14.4542
Q3     31.0000
Q4    512.3292
Name: Fare, dtype: float64

In [13]:
df["Deck"]  = df["Cabin"].str[0]

In [14]:
df.Deck.value_counts()

C    59
B    47
D    33
E    32
A    15
F    13
G     4
T     1
Name: Deck, dtype: int64

In [15]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_band,Deck
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Q1,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Q4,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Q2,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Q4,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Q2,NaN

In [16]:
 df.Deck = df.Deck.fillna("Unknown")

df.Deck.value_counts()

Unknown    687
C           59
B           47
D           33
E           32
A           15
F           13
G            4
T            1
Name: Deck, dtype: int64

In [17]:
df.groupby("Deck")["Survived"].mean()

Deck
A          0.466667
B          0.744681
C          0.593220
D          0.757576
E          0.750000
F          0.615385
G          0.500000
T          0.000000
Unknown    0.299854
Name: Survived, dtype: float64

In [18]:
df.groupby("Deck")["Pclass"].value_counts()

Deck     Pclass
A        1          15
B        1          47
C        1          59
D        1          29
         2           4
E        1          25
         2           4
         3           3
F        2           8
         3           5
G        3           4
T        1           1
Unknown  3         479
         2         168
         1          40
Name: Pclass, dtype: int64

In [19]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [20]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_band,Deck
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Q1,Unknown
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Q4,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Q2,Unknown
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Q4,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Q2,Unknown

In [ ]:
##Here is a quick reminder of the code written in Part 1 to build a model to predict happiness. Refer back to that chapter if you need a refresher

In [ ]:
####
# Import Python libraries for data manipulation and visualisation
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot

# Import the Python machine learning libraries we need
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Import some convenient functions.  This can be found on the course github
from functions import *

# Load the data
dataset = pd.read_csv("world_data_really_tiny.csv")

# Inspect first few rows
dataset.head(12)

# Inspect data shape
dataset.shape

# Inspect descriptive stats
dataset.describe()

# View univariate histgram plots
histPlotAll(dataset)

# View univariate box plots
boxPlotAll(dataset)

# View class split
classComparePlot(dataset[["happiness","lifeexp","unemployment"]], 'happiness', plotType='hist')

# Split into input and output features
y = dataset["happiness"]
X = dataset[["lifeexp","unemployment"]]

# Split into test and training sets
test_size = 0.33
seed = 7
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=test_size, random_state=seed)

# Select algorithm
model = DecisionTreeClassifier()

# Fit model to the data
model.fit(X_train, y_train)

# Check model performance on training data
predictions = model.predict(X_train)
print(accuracy_score(y_train, predictions))

# Evaluate the model on the test data
predictions = model.predict(X_test)
print(accuracy_score(y_test, predictions))

In [ ]:
#Build and Evaluate a Classification Model

In [ ]:
##Import the Libraries

In [ ]:
# Core libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot

# Sklearn processing
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# Sklearn classification algorithms
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

# Sklearn classification model evaluation function
from sklearn.metrics import accuracy_score

# Convenience functions.  This can be found on the course github
from functions import *

In [ ]:
##The Process

In [ ]:
#Here's a reminder of the process from Part 1 of the course that we'll be using.

In [ ]:
##Define Task,Acquire clean Data,Understand the data,Prepare Data,Build Model,Evaluate Model, Finalise Deploy

In [ ]:
##Load Data

In [ ]:
#dataset = pd.read_csv("world_data.csv")

### Inspect Data

In [ ]:
#dataset.shape

In [ ]:
###Take a quick look at the data to understand what you are dealing with:

In [ ]:
##dataset.head()

In [ ]:
##Check that there are sensible data types for each feature. For example, we don't want any numeric features to show up as an object type

In [ ]:
#dataset.dtypes

In [ ]:
##Check if there are nulls:

In [ ]:
#dataset.isnull().mean().sort_values()

In [ ]:
##Clean Data

In [ ]:
##dataset = dataset.drop(["murder","urbanpopulation","unemployment"], axis=1)

In [ ]:
##For the others, I will just impute with the mean value of the feature.  Again, I may want to come back to this later.

In [ ]:
## Compute the mean for each feature
means = dataset.mean().to_dict()

# Impute each null with the mean of that feature
for m in means:
    dataset[m] = dataset[m].fillna(value=means[m])

In [ ]:
##Confirm there are no nulls:

In [ ]:
#dataset.isnull().mean()

In [ ]:
#####PART2

In [ ]:
##Understand the Data

In [ ]:
#dataset.describe()

In [ ]:
##Visualize

In [ ]:
#correlationMatrix(dataset)

In [ ]:
#boxPlotAll(dataset)

In [ ]:
###########################PART3

In [ ]:
##Prepare Data

In [ ]:
##Feature Engineering

In [ ]:
#dataset = appendEqualCountsClass(dataset, "lifeexp_band", "lifeexp", 3, ["L","M","H"])

In [ ]:
##Let's see if the results were what we expected: three bands with the same number of sample points in each:

In [ ]:
#dataset.lifeexp_band.value_counts()

In [ ]:
##And let's check a few rows, to confirm it has worked as expected

In [ ]:
#dataset[['lifeexp','lifeexp_band']].head()

In [ ]:
######################Select Features and Split Into Input and Target Features

In [ ]:
##y = dataset["lifeexp_band"]
##X = dataset[['happiness', 'income', 'sanitation', 'water', 'literacy', 'inequality', 'energy', 'childmortality', 'fertility', 'hiv', 'foodsupply', 'population']]

In [ ]:
###When we ran dataset.describe() above, you saw that the range of values between the min and max was different for different features. Sanitation ranged from 7 to 100, but income ranged from 623 to 120,000. Many algorithms will not perform optimally with data on such vastly different scales. To prevent this, scale the data before building the model. There are a few approaches. In this case, I will use the  MinMaxScaler(), which scales the data so every feature ranges from 0 to 1

In [ ]:
# Rescale the data
#scaler = MinMaxScaler(feature_range=(0,1))
#rescaledX = scaler.fit_transform(X)

# Convert X back to a Pandas DataFrame, for convenience
#X = pd.DataFrame(rescaledX, columns=X.columns)

In [ ]:
##Look at what this scaling has done. Every feature now has a min of 0 and a max of 1:

In [ ]:
## X.describe()

In [ ]:
######Part 4:

In [ ]:
#######Build Models

In [ ]:
########Split Into Test and Training Sets

In [ ]:
##test_size = 0.33
##seed = 1
##X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=test_size, random_state=seed)

In [ ]:
##Create Multiple Models, Fit and Check Them

In [ ]:
# Build a decision tree model
#model_dt = DecisionTreeClassifier()
#model_dt.fit(X_train, Y_train)

In [ ]:
##Then the logistic regression model:

In [ ]:
### Build a logistic regression model
#model_lr = LogisticRegression(solver='lbfgs', multi_class='auto')
#model_lr.fit(X_train, Y_train)

In [ ]:
##Check the Models

In [ ]:
# Check the model performance with the training data
#predictions_dt = model_dt.predict(X_train)
#print("DecisionTreeClassifier", accuracy_score(Y_train, predictions_dt))

In [ ]:
### Check the model performance with the training data
##predictions_lr = model_lr.predict(X_train)
##print("LogisticRegression", accuracy_score(Y_train, predictions_lr))

In [ ]:
######Evaluate Models

In [ ]:
######################Part 5:

In [ ]:
##Watch this screencast showing the inspection of the models.  Then read the notes below.

In [ ]:
##Inspect the Models

In [ ]:
##Decision Tree

In [ ]:
##To run this code, you need to install  graphviz  as described in Part 1.  The  viewDecisionTree()  function can be found in  functions.py.

In [ ]:
#viewDecisionTree(model_dt, X.columns)

In [ ]:
#####The  decisionTreeSummary()  function can be found in  functions.py.  It uses the  feature_importances_  attribute of the DecisionTreeClassifier.

In [ ]:
#decisionTreeSummary(model_dt, X.columns)

In [ ]:
#####Logistic Regression

In [ ]:
#logisticRegressionSummary(model_lr, X.columns)

In [ ]:
##Low sanitation is the most significant indicator of low life expectancy: