In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset_url = "https://raw.githubusercontent.com/OpenClassrooms-Student-Center/8063076-Initiez-vous-au-Machine-Learning/master/data/paris-arbres-clean-2023-09-10.csv"

In [3]:
data = pd.read_csv(dataset_url)

/home/gabriel/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0,4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df = data[data.libelle_francais == 'Platane'].copy()

In [6]:
df.head(3)

,idbase,domanialite,arrondissement,complement_adresse,numero,lieu_adresse,idemplacement,libelle_francais,genre,espece,variete_oucultivar,circonference_cm,hauteur_m,stade_de_developpement,remarquable,geo_point_2d
3,238226,Alignement,PARIS 12E ARRDT,37,NaN,AVENUE DE SAINT MANDE,000501020,Platane,Platanus,x hispanica,NaN,30.0,5.0,Jeune (arbre),NON,"48.84515461889761, 2.4008303350818525"
9,289464,Alignement,PARIS 12E ARRDT,NaN,NaN,AVENUE LEDRU ROLLIN,000402007,Platane,Platanus,x hispanica,NaN,60.0,10.0,Adulte,NON,"48.84717970255216, 2.37017013054543"
10,221701,Alignement,PARIS 16E ARRDT,NaN,NaN,BOULEVARD DE L AMIRAL BRUIX,000705007,Platane,Platanus,x hispanica,NaN,68.0,10.0,Jeune (arbre)Adulte,NON,"48.87428152523608, 2.2783797113253454"

In [7]:
df.remarquable.value_counts()

NON    41316
OUI       36
Name: remarquable, dtype: int64

In [13]:
#df.loc[df.remarquable == NON, 'remarquable'] = 0
#df.loc[df.remarquable == OUI, 'remarquable'] = 1

NameError: name 'NON' is not defined

In [14]:
df.remarquable.value_counts()

NON    41316
OUI       36
Name: remarquable, dtype: int64

In [15]:
categories = ['Adulte', 'Jeune (arbre)Adulte', 'Jeune (arbre)', 'Mature']
for n, categorie in zip(range(1,len(categories)+1), categories):
  df.loc[
          df.stade_de_developpement == categorie,   
          'stade_de_developpement'
        ] = n

In [19]:
##stade_de_developpement

In [20]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.6.3-py2.py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: numpy>=1.14.0 in /home/gabriel/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.20.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /home/gabriel/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.24.1)
Requirement already satisfied: scipy>=1.0.0 in /home/gabriel/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.6.2)
Requirement already satisfied: statsmodels>=0.9.0 in /home/gabriel/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.12.2)
Requirement already satisfied: pandas>=1.0.5 in /home/gabriel/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.2.4)
Requirement already satisfied: patsy>=0.5.1 in /home/gabriel/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.5.1)
Collecting importlib-resources (from category_encoders)
  Downloading importlib_resources-6.1.1-py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/gabriel/anaconda3/lib/python3.8/site-packages (from pandas>=1.0.5->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/gabriel/anaconda3/lib/python3.8/site-packages (from pandas>=1.0.5->category_encoders) (2021.1)
Requirement already satisfied: six in /home/gabriel/anaconda3/lib/python3.8/site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /home/gabriel/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/gabriel/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Requirement already satisfied: zipp>=3.1.0 in /home/gabriel/anaconda3/lib/python3.8/site-packages (from importlib-resources->category_encoders) (3.4.1)
Downloading category_encoders-2.6.3-py2.py3-none-any.whl (81 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.9/81.9 kB 592.8 kB/s eta 0:00:00B/s eta 0:00:01
Downloading importlib_resources-6.1.1-py3-none-any.whl (33 kB)
DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 24.0 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063
Installing collected packages: importlib-resources, category_encoders
Successfully installed category_encoders-2.6.3 importlib-resources-6.1.1

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip

In [21]:
##Pour encoder des catégories ordinales, nous utilisons la classe OrdinalEncoder.

##Pour que l'ordre des catégories soit respecté dans l'encodage, 
##il faut donner un mapping explicite à la fonction  fit()  comme ceci :

In [22]:
from category_encoders.ordinal import OrdinalEncoder
mapping =[ {'col': 'stade_de_developpement',
'mapping': {
            np.nan: 0,
            'Jeune (arbre)': 1,
            'Jeune (arbre)Adulte': 2,
            'Adulte': 3,
            'Mature': 4
            }
        } ]

encoder = OrdinalEncoder(mapping=mapping)
stade = encoder.fit_transform(df.stade_de_developpement)
stade.value_counts()

stade_de_developpement
-1.0                      39238
 0.0                       3350
dtype: int64

In [23]:
#On remplace ensuite les catégories originales par leur équivalents numériques :

In [24]:
df['stade_de_developpement'] = stade.copy()

In [25]:
#Et les stades de développement sont maintenant numérisés

In [26]:
df['stade_de_developpement'].value_counts(dropna = False)

-1.0    39238
 0.0     3350
Name: stade_de_developpement, dtype: int64

In [28]:
##stade_de_developpement

In [29]:
#L'encodage one-hot

In [30]:
#Pour que l'exemple soit plus clair, ne gardons que les arbres des 3 domanialités les plus fréquentes :

In [31]:
df = df [df.domanialite.isin(['Alignement', 'Jardin', 'CIMETIERE'])].copy()
df.reset_index(drop = True, inplace = True)

In [32]:
#On va créer 2 variables booléennes :  is_alignement  et  is_jardin  , telles que :

In [35]:
#is_alignement =  1 if (domanialite == 'Alignement') else 0
#is_jardin =  1 if (domanialite == 'Jardin') else 0

In [37]:
#domanialite = CIMETIERE si is_alignement =0 et is_jardin = 0

In [38]:
##Cette technique qui s'appelle one_hot_encoding est implémentée dans scikit-learn dans le module preprocessing.

In [39]:
from sklearn import preprocessing
enc = preprocessing.OneHotEncoder()
labels = enc.fit_transform(df.domanialite.values.reshape(-1, 1)).toarray()
labels.shape
(40906, 3)

(40906, 3)

In [40]:
#On a donc 3 colonnes correspondant aux 3 valeurs de domanialité.

#Il faut ensuite intégrer 2 de ces 3 colonnes (la 3e est redondante) et supprimer la colonne originale
#avec un peu de manipulation de pandas.dataframe.

In [41]:
df = pd.concat([df,
        pd.DataFrame(columns = ['is_alignement','is_jardin'],
                      data = labels[:, :2])],
        axis = 1)

In [42]:
#"En conclusion, le one hot encoding n'est réellement utilisable que lorsque le nombre de valeurs 
##de la variable à numériser est faible par rapport aux nombre de variables utiles du dataset.

In [43]:
#"L'encodage binaire

In [44]:
##Pour sortir du piège de la dimensionnalité, ma technique préférée de numérisation est 
##l'encodage binaire disponible dans l'excellente librairie  category_encoders  .

In [45]:
##L'énorme avantage de l’encodage binaire sur le one hot encoding est la réduction drastique du 
##nombre de variables nécessaires pour encoder la variable catégorique originale.

In [53]:
from category_encoders.binary import BinaryEncoder
encoder = BinaryEncoder()
espece_bin = encoder.fit_transform(data.espece)
espece_bin.shape
espece_bin.head()

,espece_0,espece_1,espece_2,espece_3,espece_4,espece_5,espece_6,espece_7,espece_8,espece_9
0,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,1,1
3,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,1,0,1

In [ ]:
#Le Feature Engineering

In [54]:
#En résumé

In [ ]:
 #   Les variables catégoriques textuelles doivent être numérisées pour être compatibles avec le modèle.

  #  La méthode la plus simple est l'encodage ordinal qui associe un entier à chaque catégorie. Il peut cependant induire un ordre qui n'est pas présent dans la variable originale.

  #  L'encodage One Hot crée une nouvelle variable booléenne par valeur de la variable catégorique originale. 

  #  Lorsque la variable catégorique originale prend beaucoup de valeurs, l'encodage One Hot va créer trop de nouvelles variables qui vont noyer l'information contenue dans les autres variables du dataset.

  #  Une alternative consiste à appliquer l'encodage binaire, qui réduit fortement le nombre de variables supplémentaires qui sont nécessaires à l'encodage.